body{
    font-family:Arial,sans-serif;
   margin:0;
   padding :0;
   line-height:1.6;
   background-color: #f9f9f9;
   color: #0a0303;
     }
header{ 
   background: #1A3A3A;
   color: rgb(255, 255, 255);
   text-align: center;
   padding: 2rem 0;
    }
nav{
background: #C8BAB3;
padding: 0,5rem;
text-align: center;
  }
  
table, th , td{
      border: 3px solid black;
      border-collapse: collapse;
}
th , td{
        padding: 10px;
}
th{ 
    color: rgb(0 , 0, 0);
    background-color: rgb(0, 195, 255);
}